<!DOCTYPE>
<html>
<head>
    <title>Spring boot Web Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>Spring bootで始めるWebService</h1>
</body>
</html>